.container {
    margin: auto;
    color: #eee;
    background-color: #559EAA;
    width: 500px;
    max-width: 700px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px #b85b1f;
}
.rollBtn {
    color: #fff;
    background-color: #3F7C86;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 1px 1px #b85b1f;
}
.rollBtn:hover {
    background-color: #2E5C64;
    box-shadow: 1px 1px #2E5C64;
}
.rollBtn:active {
    background-color: #b85b1f;
    transform: translateY(2px);
}
.resultsDiv {
    color: #fff;
    background-color: #3F7C86;
    padding: 10px;
    border-radius: 5px;
    margin: 2px;
    font-family: fantasy;
}
H1 {
    color: aliceblue;
    text-align: center;
}
form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
body {
    background-color: #2f343f;
}