<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Player Listpage</title>
    <link rel="stylesheet" href="/css/player.css">
</head>
<body>
<div class="display">
    <table class="table table-bordered table-striped">
        <tr>
            <th>Player name</th>
            <th>MA</th>
            <th>ST</th>
            <th>AG</th>
            <th>AV</th>
            <th>PA</th>
        </tr>
        <tr th:each="player : ${players}">
            <td>
                <a href="#" th:text="${player.name}" th:href="@{|/players/${player.id}|}">filler text</a>
            </td>
            <td th:text="${player.movementAllowance}"></td>
            <td th:text="${player.strength}"></td>
            <td th:text="${player.agility}"></td>
            <td th:text="${player.armourValue}"></td>
            <td th:text="${player.passing}"></td>
        </tr>
    </table>
</div>
</body>
</html>